**/*.log
**/*.md
**/*.js~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitignore
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.env.*.local
.env.local
.env.local.php
bin/*
!bin/console
docker/db/data/